<ion-header>
    <ion-navbar>
        <ion-title>
            About
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Posts</h2>
    <ion-list>
        <ion-item *ngFor="let post of posts">
            <ion-card>
                <ion-card-header>
                    {{post.title}}
                </ion-card-header>
                <ion-card-content>
                    {{post.body}}
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>

    <h2>Comments</h2>
    <ion-list>
        <ion-item *ngFor="let comment of comments">
            <ion-card>
                <ion-card-header>
                    {{comment.name}} <{{comment.email}}>
                </ion-card-header>
                <ion-card-content>
                    {{comment.body}}
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>

    <h2>Addresses</h2>
    <ion-list>
        <ion-item *ngFor="let user of users">
            {{user.name}} <{{user.email}}>
        </ion-item>
    </ion-list>
</ion-content>